/*-------  Common CSS (start)  --------*/
body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #5983ff;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

/*-------  Common CSS (end)  --------*/


.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Change the display property to none */
  display: none;
}


/*-------  header (start)  --------*/
header {
  height: 65px;
  width: 100%;
  /* background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10; */
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*-------  header (end)  --------*/

.topnav {
  overflow: hidden;
  /* background-color: #333; */
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ddd;
  color: white;
}

.topnav .icon {
  display: none;
}


/*-------  footer (start)  --------*/
footer {
  text-align: center;
  padding: 40px;
  color: #000000;
  background-color: #ffffff;
}

.social-icon {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  background: #e1e3e8;
  width: 52px;
  height: 52px;
  padding-top: 13px;
  border-radius: 50%;
  color: #878f9b;
  font-size: 24px;
  margin: 0 15px;
}

.social-icon:hover{
  color: #e3e3e3;
  background-color: #c5c7cc;
  /* font-size: 28px; */
}

.copyright {
  margin-top: 20px;
}
/*-------  footer (end)  --------*/
